.tile {
    display: flex;
    min-width: 10px;
    min-height: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 1px;
    height: 20px;
    width: 20px;
}

.unopened {
    background-color: rgb(0, 170, 170);
}

.unopened:active {
    background-color: rgb(0, 120, 120);
}

.opened {
    background-color: rgba(0, 255, 255, 0.3);
}

.wrong {
    background-color: rgb(100, 0, 0);
}